@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

.sidebar-nav .navbar-nav .nav-link span {
  font-size: 16px;
}
.sidebar-nav .navbar-nav .nav-link i {
  font-size: 16px; 
}

.carousel-inner img {
  height: 500px; /* Set the desired height */
  object-fit: cover; /* Ensures proper aspect ratio without distortion */
  width: 100%; /* Ensures the image fills the container */
}

.dashboard-card:hover {
  transform: scale(1.02);
  transition: transform 0.5s ease-in-out;
}

@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}
